@model PagedList.IPagedList<StoreExample.Models.PhoneItem>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}

<div>
    @using (Ajax.BeginForm("PhoneSearch", "Phone", new AjaxOptions { UpdateTargetId = "resultsphone", LoadingElementId = "loading", LoadingElementDuration = 1000 }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" class="btn" />
    }
    <img id="loading" src="@Url.Content("~/Content/Images/loader.gif")" style="display:none" width="50" height="50"/>
    <div id="resultsphone"></div>
</div>

<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Описание
        </th>
        <th>
            Изображение
        </th>
        <th>
            Цена
        </th>
        <th>
            Категория
        </th>
        <th>
            Подкатегория
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item2 in Model)
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item2.ModelOfPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.Description)
                </td>
                <td>
                    <a href="Instrumental/Details/@item2.Id">
                        <img src="@item2.ImgUrl" width="200" height="350" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.SubCategory)
                </td>
                <td>


                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Изменить", "Edit", "Phone", new { id = item2.Id }, null)

                        @Html.ActionLink("Удалить", "Delete", "Phone", new { id = item2.Id }, null)
                    }
                    @*<a href="~/Instrumental/Details/@item.Id">Подробнее</a>*@
                    @Html.ActionLink("Подробнее", "Details", "Phone", new { id = item2.Id }, null)

                    @Html.ActionLink("Добавить в Корзину", "AddToCart", "Cart", new { id = item2.Id }, null)
                    @*@Html.ActionLink("Удалить","Delete", "Instrumental", item.Id)*@
                </td>
            </tr>
        }


    }

</table>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

