@using StoreExample.DataBaseManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PhoneStore</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PhoneStore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#">Что-то</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../Cart/Index"><span class=" glyphicon glyphicon-shopping-cart "></span> Корзина</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li><a href="~/Account/Logoff"><span class="glyphicon glyphicon-log-out"></span> Выйти (@PurchaseManager.GetNameByEmail(User.Identity.Name.ToString())) </a></li>
                    }
                    else
                    {
                    <li><a href="~/Account/Register"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
                    <li><a href="~/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>


    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PhoneStore</p>
        </footer>
    </div>
    <img class="sprite" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>