@model StoreExample.Models.PhoneItem

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">@Model.Category</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="@Model.ImgUrl" style="width:700px;height:800px" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">@Model.Price руб</h4>
                    <h4>
                        <a href="#">@Model.ModelOfPhone</a>
                    </h4>
                    @Model.Description
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a href="../Cart/AddToCart/@Model.Id" class="btn btn-success ">
                        <span class=" glyphicon glyphicon-shopping-cart "></span> Добавить
                    </a>
                </div>   
            </div>
        </div>
    </div>
</div>
